html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
  }
  
  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
  }
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #18181a;
    padding: 10px;
  }
  nav {
      overflow: hidden;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-align:right;
  }

  nav li:hover {
    background-color: #ddd;
    color: black;
    z-index: 90;
  }
 
  
  nav > ul {
    display: inline;
    padding: 0;
  }
  nav > ul > li {
      display: inline-block;
      list-style: none;
      margin: 0 5px 0 5px;
  }
  #about {
    width: 200px;
    height: 200px;
    border: 1px solid #999;
    border-radius: 50%;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  /* a:visited {
    color: #74638f;
  } */
  
  #main {
    margin: 45px 0 0 0;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
    text-align: center;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  #about {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    float: right;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  